html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

.col {
    display: flex;
    width: 50%;
    padding: 100px;
    align-items: center;
    justify-content: center;
}

.col--right {
    background-color: #D2E9EE;
}

.puzzle-hash {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.puzzle-table {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.puzzle-row {
    display: flex;
    flex-wrap: wrap;
}

.puzzle-cell {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    background-color: #fff;
}